@import "src/variables";
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $lightGrey;
  padding: 20px 24px;
  border-radius: 10px;
  fa-icon {
    color: $orange;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
  span {
    color: $text;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
  }
}
