<div class="container">
  <h1>Cart</h1>
  <span class="spacer"></span>
  <div class="cart">
    <p id="empty" *ngIf="empty === true">Your cart is empty.</p>
    <div class="item" *ngFor="let item of items">
      <img src="/assets/image-product-1-thumbnail.jpg" alt="image" />

      <div class="text">
        <strong class="name">{{ item.name }}</strong>
        <small class="cost"
          >${{ item.cost | number : "1.2-2" }} x{{ item.count }}
          <span>$ {{ item.total | number : "1.2-2" }}</span></small
        >
      </div>
      <fa-icon [icon]="clear"></fa-icon>
    </div>
    <button *ngIf="empty === false"><p>Checkout</p></button>
  </div>
</div>
