<div class="container">
  <h3>Sneaker Company</h3>
  <h1>Fall Limited Edition Sneakers</h1>
  <p>
    These low-profile sneakers are your perfect casual wear companion. Featuring
    a durable rubber outer sole, they’ll withstand everything the weather can
    offer.
  </p>
  <div class="cost">
    <strong>$125.00</strong>
    <span>50%</span>
    <small>$250.00</small>
  </div>
  <div class="count" (click)="remove()">
    <app-count (howMany)="newCount($event)"></app-count>
  </div>
  <button (click)="addToCart()">
    <fa-icon [icon]="cart"></fa-icon> Add to cart
  </button>
</div>
