$white: rgb(255, 255, 255);
$grey: rgb(216, 216, 216);
$lightGrey: rgb(246, 248, 253);
$orange: rgb(255, 126, 27);
$lightOrange: rgb(255, 238, 226);
$text: rgb(29, 32, 38);
$lightText: rgb(105, 112, 125);
