@import "src/variables";
.imagesMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -100;
  width: 375px;
  height: 375px;
  left: calc((100% - 375px) / 2);
  img {
    width: 100%;
  }
  .previous,
  .next {
    width: 40px;
    height: 40px;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    fa-icon {
      color: black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .previous {
    left: 16px;
  }
  .next {
    right: 16px;
  }
}
@media (min-width: 1440px) {
  .imagesDesktop {
    width: 50%;
    .bigImage {
      width: 100%;
      margin-bottom: 32px;
      img {
        width: 469px;
        border-radius: 15px;
      }
    }
    .smallImages {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 31px;
      .imageSmall {
        border-radius: 15px;
        width: 94px;
        height: 94px;
        &.clicked {
          border: 3px solid $orange;
          & > img {
            opacity: 0.3;
          }
        }
        img {
          width: 88px;
          border-radius: 10px;
          &:hover {
            opacity: 0.5;
            cursor: pointer;
          }
        }
      }
    }
  }
}
